.archive_main_sec {
  position: relative;
  padding-right: 120px;
  padding-left: 120px;

  .archive_cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 50%;
    height: auto;
  }

  .main_title {
    color: var(--grays-white, #FFF);
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .archive_main_sec_grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;

    > div {
      max-width: 16%;
      flex: 1 1 15%;
    }
  }

  .filter {
    position: relative;
    text-align: left;
    z-index: 2;
    margin-bottom: 44px;

    > select {

      width: 200px;
      padding: 8px;
      margin-right: 20px;
      text-align: right;
      color: var(--grays-200, #CCD1D8);

      border: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 200% */
      border-radius: 10px;

      background: linear-gradient(97deg, rgba(39, 52, 70, 0.80) -46.27%, rgba(39, 52, 70, 0.00) 136.26%);
      backdrop-filter: blur(9.5px);
    }
  }

  .archive_pg {

    ul {
      margin: 0;
      margin-top: 40px;

      padding: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;

        a.active_link {
          border-radius: 10px;
          background: var(--grays-600, #8b95a3) !important;
          display: inline-block;

          padding: 4px 16px;
        }

        a {
          color: var(--grays-100, #F4F6F8);
          text-align: center;
          text-decoration: 0;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          padding: 4px 16px;
          margin: 1px;
        }


      }
    }
  }
}
