.header {
  width: 100%;
  height: 405px;
  background-color: #161e28;
  padding-top: 15px;
}

.header .container {
  width: 1200px;
  margin: 0 auto;
}

.test1 {
  display: flex;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.text1 {
  color: #CCD1D8;
}

.test1 img {
  margin: 0 8px;
}

.title_header {
  font-size: 36px;
  color: #FFFFFF;
}

.head {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  padding: 24px;
  background-color: #273446;
  display: flex;
  color: #F4F6F8;
  margin-top: 30px;
}

.card_body {
  margin-right: 24px;
}

.card_body_title {
  font-size: 24px;
  color: #F4F6F8;
  margin-bottom: 12px;
}

.card_body p {
  line-height: 32px;
  font-size: 16px;
}

.bottun {
  display: flex;
  margin-top: 24px;
}

.bottun h6 {
  font-size: 18px;
  color: #FFD100;
  font-weight: 700;
  margin-left: 8px;
}


.said_bar {
  width: 100%;
  height: auto;
  background-color: #161e28;
  padding-top: 60px;
}

.said_bar .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.card1 {
  width: 282px;
  height: 219px;
  border-radius: 10px;
  padding: 15px 16px 0;
  background-color: #2734464d;
  margin-bottom: 16px;
}

.card1 p {
  color: #ffffff;
  margin-right: 8px;
}

.card1 li {
  display: flex;
  margin-bottom: 20px;
}

.card2 {
  width: 282px;
  height: 584px;
  border-radius: 10px;
  padding: 15px 16px;
  background-color: #2734464d;
}

.text2 {
  color: #ffffff;
  margin-bottom: 5px;
}

.text2 img {
  margin-left: 8px;
}

.text3,
.text4,
.text5,
.text6,
.text7 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.card2 .right {
  margin-left: 8px;
}

.card2 .left {
  color: #ffffff;
  line-height: 24.8px;
  width: 238px;
}

.date {
  font-size: 14px;
  color: #a0a8b3;
  margin-top: 6px;
}

.br {
  width: 100%;
  height: 1px;
  border: 1px solid #273446;
  margin-top: 18px;
}

.card3 {
  width: 282px;
  height: 327px;
  border-radius: 10px;
  padding: 15px 16px;
  background-color: #2734464d;
  margin-top: 16px;
  color: #ccd1d8;
}

.card3 p {
  line-height: 32px;
}

.email {
  width: 250px;
  height: 48px;
  border-radius: 10px;
  padding: 13px;
  background-color: #273446;
  font-size: 14px;
  color: #747f8e;
  margin-top: 15px;
}

.card3 .text2 {
  margin-bottom: 8px;
}

.sabt {
  width: 250px;
  height: 48px;
  border-radius: 50px;
  border: 1.5px solid #ffd100;
  text-align: center;
  padding-top: 10px;
  color: #ffd100;
  margin-top: 22px;
}

.card4 {
  width: 282px;
  height: 425px;
  border-radius: 10px;
  background-color: #081526;
  //background-image: url("../img/Vector.png");
  margin-top: 16px;
}

.card-header4 img {
  border-radius: 10px 10px;
}

.card-body4 {
  padding: 0 16px 16px 16px;
}

.card-body4 h6 {
  font-size: 22px;
  color: #ffffff;
}

.card-body4 p {
  color: #ffffff;
  line-height: 32px;
  margin-top: 15px;
}

.yellow-bottun2 {
  width: 250px;
  height: 48px;
  background-color: #ffd100;
  border-radius: 50px;
  color: #161e28;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
}

.left_bar {
  margin-right: 24px;
}

.tesst {
  vertical-align: 9px;
}

.title_left_bar {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 35px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;

  .card_section1 {
    flex: 1 1 calc(33.3333% - 20px);
    max-width: calc(33.3333% - 20px);
    width: calc(33.3333% - 20px);
    height: 410px;
    border-radius: 15px;
    padding: 15px;
    background-color: #273446;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    .cart_link{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .tessst {
        font-size: 20px;
        color: #ffffff;
        margin-top: 10px;
      }

      .text8 {
        color: #ccd1d8;
        line-height: 32px;
        margin-top: 18px;
        flex-grow: 1;
      }

      .test2 {
        display: flex;
        margin-top: 18px;
        font-size: 14px;
        color: #ffd100;
        justify-content: space-between;
        align-items: center;
        .cart_date {
          font-size: 14px;
          color: #a0a8b3;
          display: flex;
          gap: 8px;
          align-items: center;
        }

        .read {
          display: flex;
          gap: 8px;
          align-items: center;
        }
      }
    }


  }

}


.number {
  display: flex;
  justify-content: space-between;
  width: 352px;
  margin: 25px auto;
  align-items: center;
}

.test3 {
  display: flex;
  align-items: flex-end;
}

.number1 {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 10px 15px 4px 16px;
  background-color: #273446;
  color: #F4F6F8;
}

.number p {
  color: #F4F6F8;
}

.next {
  font-size: 14px;
  color: #FFD100 !important;
  margin-left: 8px;
}
