.cartSlider {
  padding-top: 133px;
}

.cartSlider .swiper-button-prev::after {
  left: 64px;
}

.cartSlider .swiper-button-next::after {
  left: 0;
}

.cartSlider .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 128px;
}

.cartSlider .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
.cartSlider .swiper-button-next::after,
.cartSlider .swiper-button-prev::after {
  position: absolute;
  top: 56px;
}


@media only screen and (max-width: 768px) {
  .cartSlider .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 0 !important;
  }

  .cartSlider .swiper-button-next::after,
  .cartSlider .swiper-button-prev::after {

    top: 0 !important;
  }

  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    height: 33px !important;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}
