.dashboard_main_sec {
  display: block;
  width: 100%;

  .dashboard_title {
    color: var(--grays-white, #FFF);
    text-align: right;
    display: block;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
    flex-grow: 1;
  }

  .dashboard_content_sec {
    border-radius: 10px;
    border: 1px solid rgba(204, 209, 216, 0.00);
    background: linear-gradient(110deg, rgba(39, 52, 70, 0.50) 0.27%, rgba(39, 52, 70, 0.00) 101.49%);
    padding: 16px;

    .info_form {
      display: flex;
      gap: 16px;

      .dashboard_input_sec {
        box-sizing: border-box;

        label {
          color: var(--grays-white, #FFF);
          text-align: right;
          display: block;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 8px;
        }

        input {
          width: 100%;
          padding: 13px;
          border: 0;
          border-radius: 10px;
          background: var(--grays-600, #273446);
          color: var(--grays-white, #FFF);
          text-align: right;
          box-sizing: border-box;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

    }
    .dashboard_form_btn{
      color: var(--background-color-dark, #161E28);

      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: 0;
      margin-top: 24px;
      border-radius: 50px;
      background: var(--primary-main, #FFD100);
      display: flex;
      width: 150px;
      height: 48px;
      padding: 12px 114px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
}
