.main_sections {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

.main_title {
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search_input_section {
  padding: 100px;
  margin: 100px;
  background: #1C2737;
  border-radius: 10px;
}

.search_btn {
  background: #FFD100;
  border-radius: 50px;
  color: #000000;
  font-weight: bold;
  width: 100%;
  margin-top: 30px;
  height: 48px;
}

.set_tab_background {
  background: #1C2737;
  box-shadow: 0;
}

.tab-background {
  color: #FFFFFF !important;
}

.set_flex_base {
  flex: 1 1 calc(25%);
}

.set_flex_full {
  flex: 1 1 100%;
}

.div_sections {
  width: 100%;
  display: flex;
  gap: 20px;
}

.div_sections_main {
  width: 100%;
  text-align: right;
}

.main_sec_two_col {
  width: 100%;
  display: flex;
  gap: 16px;
}

.set_hulf {
  flex: 1 1 50%;
  width: 50%;
}

.main_sections {

}

.padding_cintroller{
  padding: 30px;
}
.media_styles {

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
  > div {
    max-width: 16%;
    flex: 1 1 15%;
  }
}

@media only screen and (max-width: 640px) {
  .media_styles {

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
    > div {
      max-width: calc(50% - 24px)!important;
      flex: 1 1 calc(50% - 24px)!important;

    }
  }
  .padding_cintroller{
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .media_styles {

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
    > div {
      max-width: calc(33.333333% - 24px);
      flex: 1 1 calc(33.333333% - 24px);
    }
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}