.said_bar {
  width: 100%;
  height: auto;
  background-color: #161e28;
  padding-top: 15px;




  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
  }
  .title_right_bar{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;

  }
  .tag{
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 32px;
    .test5{
      font-size: 14px;
      color: #A0A8B3;
      margin: 0 8px 0 32px;
    }
  }
  .title_left_bar {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 35px;
  }

  .br {
    width: 100%;
    height: 1px;
    border: 1px solid #273446;
    margin-top: 18px;
  }

  .text9{
    color: #FFFFFF;
    width: 894px;
    line-height: 32px;
  }
  .title_right_bar2{
    font-size: 32px;
    color: #FFFFFF;
    margin: 30px 0;
  }

  .chasb{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    margin-top: 50px;
    .test4{
      width: 61px;
      height: 32px;
      border-radius: 49px;
      background-color: #273446;
      text-align: center;
      padding-top: 4px;
      font-size: 14px;
      color: #FFFFFF;
      margin-right: 8px;
    }
  }


}

.main {
  background-color: #161e28;
  width: 100%;
  height: auto;
  padding-top: 90px;
}

.soalat{
  width: 100%;
  background-color: #161E28;
  height: auto;
  padding-top: 80px;
}

.nazarat {
  width: 100%;
  height: auto;
  background-color: #161e28;
  padding-top: 70px;
  padding-bottom: 60px;
}

.card1 {
  width: 282px;
  height: 219px;
  border-radius: 10px;
  padding: 15px 16px 0;
  background-color: #2734464d;
  margin-bottom: 16px;
}
.card1 p {
  color: #ffffff;
  margin-right: 8px;
}
.card1 li {
  display: flex;
  margin-bottom: 20px;
}
.card2 {
  width: 282px;
  height: 584px;
  border-radius: 10px;
  padding: 15px 16px;
  background-color: #2734464d;
}
.text2 {
  color: #ffffff;
  margin-bottom: 5px;
}
.text2 img {
  margin-left: 8px;
}
.text3,
.text4,
.text5,
.text6,
.text7 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}
.card2 .right {
  margin-left: 8px;
}
.card2 .left {
  color: #ffffff;
  line-height: 24.8px;
  width: 238px;
}
.date {
  font-size: 14px;
  color: #a0a8b3;
  margin-top: 6px;
}
.br {
  width: 100%;
  height: 1px;
  border: 1px solid #273446;
  margin-top: 18px;
}
.card3 {
  width: 282px;
  height: 327px;
  border-radius: 10px;
  padding: 15px 16px;
  background-color: #2734464d;
  margin-top: 16px;
  color: #ccd1d8;
}
.card3 p {
  line-height: 32px;
}
.email {
  width: 250px;
  height: 48px;
  border-radius: 10px;
  padding: 13px;
  background-color: #273446;
  font-size: 14px;
  color: #747f8e;
  margin-top: 15px;
}
.card3 .text2 {
  margin-bottom: 8px;
}
.sabt {
  width: 250px;
  height: 48px;
  border-radius: 50px;
  border: 1.5px solid #ffd100;
  text-align: center;
  padding-top: 10px;
  color: #ffd100;
  margin-top: 22px;
}
.card4 {
  width: 282px;
  height: 425px;
  border-radius: 10px;
  background-color: #081526;

  margin-top: 16px;
}
.card-header4 img {
  border-radius: 10px 10px;
}
.card-body4 {
  padding: 0 16px 16px 16px;
}
.card-body4 h6 {
  font-size: 22px;
  color: #ffffff;
}
.card-body4 p {
  color: #ffffff;
  line-height: 32px;
  margin-top: 15px;
}
.yellow-bottun2 {
  width: 250px;
  height: 48px;
  background-color: #ffd100;
  border-radius: 50px;
  color: #161e28;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
}
.test1{
  display: flex;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 1200px;
  margin: 0 auto;
}
.text1{
  color: #CCD1D8;
}
.test1 img{
  margin: 0 8px;
}
.title-right-bar{
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.test5{
  font-size: 14px;
  color: #A0A8B3;
  margin: 0 8px 0 32px;
}
.text9{
  color: #FFFFFF;
  width: 894px;
  line-height: 32px;
}
.title-right-bar2{
  font-size: 32px;
  color: #FFFFFF;
  margin: 30px 0;
}

.matlab{
  width: 894px;
  height: 182px;
  border-radius: 10px;
  padding: 16px;
  background-color: #4755694D;
  margin: 25px 0 20px;
}
.text1{
  display: flex;
  margin-bottom: 17px;
}
.text10{
  font-size: 20px;
}
.title-right-bar2{
  font-size: 32px;
  color: #FFFFFF;
  margin: 30px 0;
}
.img1{
  margin-bottom: 24px;
}
.chasb{
  display: flex;
  color: #FFFFFF;
  align-items: center;
  margin-top: 50px;
}

.br{
  width:1200px;
  border: 1px solid #273446;
  margin: 25px auto 0;
}
