.main_sub_page{
  text-align: center;
  flex-grow: 1;
  .main_sub_title{
    color: var(--grays-white, #FFF);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;

  }
  .main_sub_sub_title{
    margin-top: 0;
    margin-bottom: 48px;
    color: var(--grays-white, #FFF);
    text-align: center;


    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
}

.unsucvess{
  color: red;
}

.success{
  color: green;
}
.alarmbox{

}

.sub_cart_sec {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  .sub_cart {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.00);
    background: linear-gradient(152deg, #273446 -4.24%, rgba(39, 52, 70, 0.00) 102.93%);

    padding: 16px;
    .sub_top{
      color: var(--grays-white, #FFF);
      text-align: right;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
    }
    .sub_cart_title{
      color: var(--grays-white, #FFF);
      text-align: center;

      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .sub_cart_list {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 16px;
      li {
        color: var(--grays-white, #FFF);
        text-align: right;

        padding: unset;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 16px;
        margin-top: 0;
        display: flex;
        gap: 8px;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    .btn_buy{
      border-radius: 50px;
      border: 1.5px solid var(--primary-main, #FFD100);
      color: var(--primary-main, #FFD100);
      display: flex;
      width: 250px;
      height: 48px;
      font-family: var(--yekan);
      //background: ;

      justify-content: center;
      align-items: center;
      gap: 8px;
    }

  }
}
